@use "../abstracts/variables" as *;

body {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    width: 100%;

    .bg-main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-image: url(/assets/img/bg-img.jpg);
        height: 100%;
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30%;

        @media(max-width: 991px) {
            height: 40vh;
            min-height: unset;
            padding-top: unset;
            align-items: center;
        }

        .logo-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 35px;
            background-color: #0000008c;
            width: 100%;

            h1 {
                position: relative;
                color: $white-fonts;

                &::before {
                    content: "";
                    background-image: url(/assets/img/odin-lined.png);
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    left: -110px;
                    top: -10px;
                }
            }
        }
    }

    .bg-form-wrapper {
        background-color: #f9f9f9;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .left-content,
        .left-footer {
            padding: 20px 50px;
        }

        .form-wrapper {
            background-color: $white-fonts;
            padding: 20px 50px;
            box-shadow: 0px 5px 15px 0px #0000001a;

            h3 {
                font-size: 22px;
            }

            .form-content {
                max-width: 80%;
                padding: 20px 0;

                @media(max-width: 768px) {
                    max-width: 100%;
                }

                label {
                    display: block;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 700;
                }

                input {
                    max-width: 250px;
                    width: 100%;
                    border: 1px solid #e1e1e1;
                    border-radius: 4px;
                    padding: 4px 12px;

                    &:focus-visible {
                        border:1px solid blue;
                        outline: unset;
                        box-shadow: 0 0 10px 0 #0000001a;
                    }
                }

                input[type="password"] {
                    &:invalid {
                        border-color: red;
                        // border-width: 3px;
                    }

                    &:valid{
                        border-color: green;
                    }
                }
            }
        }

        .left-footer {
            padding-top: 25px;
            padding-bottom: 0;

            button {
                padding: 8px 40px;
                border-radius: 6px;
                background-color: $create-btn;
                color: $white-fonts;
                outline: unset;
                border: unset;
                text-transform: capitalize;
                font-weight: 600;
                margin-bottom: 24px;
            }

            p {
                font-weight: 600;
            }

            span {
                color: $create-btn;
            }
        }
    }
}